@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url('img/bgr.gif') center;
    background-size: cover;
    position: fixed;
    /* font-family: 'Fredoka One', cursive; */
}

.mowtainer {
    height: 330px;
    width: 230px;
    background: #f3f6ff;
    border-radius: 50%;
    animation: shadow 2s ease-in-out alternate infinite, space 2s ease-in-out alternate infinite;
    position: fixed;
    padding: 80px 130px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mowtainer input {
    border-radius: 50px;
    display: block;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    outline: none;
    border: none;
    box-shadow: rgb(51 169 255) 3px 3px, rgb(51 169 255 / 42%) 6px 6px, rgb(51 169 255 / 30%) 9px 9px, rgb(51 169 255 / 31%) 11px 11px, rgb(51 169 255 / 0%) 14px 14px;
    font-weight: 700;
    color: #2d2e33;
    transition: all 300ms ease;
    box-shadow: 4px 4px 10px #ffffff, -4px -4px 10px #d9e2ff;
    background: none;
}

.mowtainer input::placeholder {
    color: #2d2e33;
}

.mowtainer input:hover, .mowtainer input:focus {
    box-shadow: 4px 4px 10px #ffffff, -4px -4px 10px #d9e2ff, inset 4px 4px 10px #ffffff, inset -4px -4px 10px #d9e2ff;
}

.mowtainer input[type="button"] {
    background: linear-gradient(to right, rgba(45, 193, 201, 1) 0%, rgba(57, 100, 208, 1) 80%);
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    color: #fff;
    box-shadow: rgb(51 169 255) 3px 3px, rgb(51 169 255 / 42%) 6px 6px, rgb(51 169 255 / 30%) 9px 9px, rgb(51 169 255 / 31%) 11px 11px, rgb(51 169 255 / 0%) 14px 14px;
}

.mowtainer input[type="button"]:hover {
    background: linear-gradient(to right, rgba(45, 193, 201, 1) 0%, rgba(57, 100, 208, 1) 120%);
    box-shadow: rgb(51 169 255) 13px 3px, rgb(51 169 255 / 42%) -16px 6px, rgb(51 169 255 / 30%) 19px 9px, rgb(51 169 255 / 31%) 31px 11px, rgb(51 169 255 / 16%) 14px 14px;
}

.tutorial {
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    background: linear-gradient(to right, rgba(45, 193, 201, 1) 0%, rgba(57, 100, 208, 1) 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: color 1s ease-in-out alternate infinite;
    font-weight: 600;
}

@keyframes space {
    0% {
        transform: translateY(-50px)
    }
}

@keyframes space2 {
    0% {
        transform: translateY(-20px)
    }
}

@keyframes color {
    0% {
        transform: translateY(-20px);
        background: linear-gradient(to left, rgba(45, 193, 201, 1) 0%, rgba(57, 100, 208, 1) 120%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes shadow {
    0% {
        box-shadow: rgb(51 169 255) 3px 3px, rgb(51 169 255 / 42%) 6px 6px, rgb(51 169 255 / 30%) 9px 9px, rgb(51 169 255 / 31%) 11px 11px, rgb(51 169 255 / 0%) 14px 14px;
    }
    100% {
        box-shadow: rgb(51 169 255) 13px 3px, rgb(51 169 255 / 42%) -16px 6px, rgb(51 169 255 / 30%) 19px 9px, rgb(51 169 255 / 31%) 31px 11px, rgb(51 169 255 / 16%) 14px 14px;
    }
}

.setting {
    position: fixed;
    top: 50vh;
    right: 20px;
    margin: auto 0;
    animation: space 5s ease-in-out alternate infinite;
}

.setting img {
    width: 50px;
    cursor: pointer;
}

.setting .box {
    width: 0;
    background: #0a00788f;
    transition: all 300ms ease;
    position: fixed;
    top: -25px;
    right: 55px;
    border-radius: 12px;
    padding: 20px 0;
    overflow: hidden;
    opacity: 0;
}

.setting .box a {
    font-size: 14px;
    width: 60px;
    cursor: pointer;
    color: #fff;
    display: block;
    transition: all 200ms ease;
    text-decoration: none;
}

.setting .box a:hover {
    text-decoration: underline;
}

.setting .box a:first-child {
    margin-bottom: 15px;
}

.setting:hover .box {
    width: 60px;
    padding: 20px;
    opacity: 1;
}

.notification {
    height: 310px;
    width: 310px;
    left: 36px;
    top: 50px;
    background: #f3f6ff;
    animation: shadow 1s ease-in-out alternate infinite, space2 1s ease-in-out alternate infinite;
    border-radius: 20px;
    padding: 30px;
    display: none;
    overflow: scroll;
    position: fixed;
}

.notification p {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
}

.notification::-webkit-scrollbar {
    display: none;
}

.notification p.start {
    background: #30acff;
    box-shadow: 0 0 5px #30acff;
}

.notification p.success {
    background: #16c916;
    box-shadow: 0 0 5px #16c916
}

.notification p.error {
    background: #ff7230;
    box-shadow: 0 0 5px #ff7230
}

.notification span {
    background: #8132ffe0;
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    border-radius: 0 0 0 12px;
}